<custom-header [options]="vm.header"></custom-header>

<ion-content [fullscreen]="true">
    <ion-row style="padding-top: 0">
        <ion-col style="padding-top: 0" size="12" sizeLg="8" offsetLg="2">
            <ng-container *ngIf="vm.inscriptions?.todo.length === 0">
                <ion-card mode="ios">
                    <ion-card-content>
                        <ion-card-title>
                            <p>¡Aun no tienes inscripciones!</p>
                        </ion-card-title>
                        <p>
                            Si ya tienes tu coche, prueba a ir a un torneo en el
                            que cumplas los requisitos, e ¡inscribete!
                        </p>
                    </ion-card-content>
                </ion-card>
            </ng-container>
            <div
                *ngIf="vm.header.segments && vm.header?.segments?.selected === 0"
                class="animate__animated animate__fadeIn"
            >
                <div *ngFor="let inscription of vm.inscriptions?.todo">
                    <ion-card
                        mode="ios"
                        class="ion-activatable"
                        (click)="goToTournament(inscription)"
                    >
                        <div
                            class="image-car1"
                            style="background-image:linear-gradient(rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)),url({{inscription.tournament?.image?.url|image}})"
                        ></div>
                        <div
                            class="image-car2"
                            style="background-image:linear-gradient(rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)),url({{inscription.car?.image?.url|image}})"
                        ></div>
                        <div class="carTitle1">
                            <p>
                                {{ inscription.car?.brand.name | truncateText:
                                15 }}
                            </p>
                            <span>{{ inscription.car.model }}</span>
                        </div>
                    </ion-card>
                </div>
            </div>
        </ion-col>
    </ion-row>
</ion-content>
