<custom-header
    [options]="vm.header"
    (segmentChanged)="segmentChanged($event)"
></custom-header>

<ion-content [fullscreen]="true">
    <spinner [loading]="vm.loading"></spinner>
    <ion-row style="padding-top: 0">
        <ion-col
            style="padding-top: 0"
            size="12"
            sizeLg="8"
            offsetLg="2"
            *ngIf="vm.inscriptions"
            style="padding-top: 0.5rem"
        >
            <inscriptions-state
                title="En progreso"
                [items]="vm.inscriptions.inProgress"
                [state]="vm.states.inProgress"
                type="inProgress"
            ></inscriptions-state>

            <inscriptions-state
                title="Proximamente"
                [items]="vm.inscriptions.todo"
                [state]="vm.states.todo"
                type="todo"
                (openPopover)="openPopover($event)"
            ></inscriptions-state>

            <inscriptions-state
                title="Completados"
                [items]="vm.inscriptions.completed"
                [state]="vm.states.completed"
                type="completed"
            ></inscriptions-state>
        </ion-col>
    </ion-row>
</ion-content>
