<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar [mode]="'ios'">
    <ng-container *ngIf="options.backButton?.state">
      <ion-buttons slot="start">
        <ion-back-button *ngIf="options.backButton?.default && options.backButton?.default === true" [defaultHref]="options.backButton?.route" [text]="''">
        </ion-back-button>
        <ng-container *ngIf="!options.backButton?.default && options.backButton?.default === false">
          <ion-button (click)="clickBackRoute.emit()">
            <ion-icon name="chevron-back-outline"></ion-icon>
          </ion-button>
        </ng-container>
      </ion-buttons>

    </ng-container>
    <ion-buttons slot="end" *ngIf="options.rightButtons?.length > 0">
      <ion-button *ngFor="let button of options.rightButtons; let i = index" fill="clear" (click)="clickRightIcon.emit(i)">
        <ion-icon slot="icon-only" [name]="button.icon"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title mode="ios">{{ options?.title }}</ion-title>
  </ion-toolbar>
</ion-header>
