<ion-header class="ion-no-border" mode="ios">

  <ion-toolbar [mode]="'ios'">
    <ng-container *ngIf="options.backButton?.state">
      <ion-buttons slot="start">
        <ion-back-button [defaultHref]="options.backButton?.route" [text]="''">
        </ion-back-button>
      </ion-buttons>
    </ng-container>
    <ion-buttons slot="end" *ngIf="options.rightButton?.state">
      <ion-button fill="clear" (click)="clickRightIcon.emit()">
        <ion-icon slot="icon-only" [name]="options.rightButton?.icon"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title mode="ios">{{ options.title }}</ion-title>
  </ion-toolbar>
</ion-header>
