<ion-card
    mode="ios"
    class="ion-activatable"
    (click)="clickItem.emit(tournament)"
    style="margin-left: 0.5rem; margin-right: 0.5rem"
>
    <ion-card-content
        style="
            background-image: linear-gradient(rgba(0, 0, 0, 0.43), 
            rgba(0, 0, 0, 0.43)), 
            url({{ image?.url }})
        "
    >
        <div class="card-title-tournament">{{ tournament.name }}</div>
        <div class="card-description-tournament">
            <ion-icon name="people"></ion-icon>
            <span>{{
                tournament.inscriptions + '/' + tournament.maxParticipants
            }}</span>
        </div>

        <div *ngIf="!tournament.lastRound" class="startDate">
            <span class="day">{{
                tournament.startDate | date: 'dd/MM/yy'
            }}</span>
        </div>

        <div class="currentRound" *ngIf="tournament.lastRound">
            {{ tournament.lastRound }}
        </div>
    </ion-card-content>
    <ion-ripple-effect></ion-ripple-effect>
</ion-card>
