<ion-content color="primary">
    <ion-list>
        <ion-item
            color="primary"
            (click)="onClick('viewProfile')"
            [button]="true"
        >
            <ion-label>Ver perfil</ion-label>
        </ion-item>
        <ion-item
            color="primary"
            (click)="onClick('deleteInscription')"
            [button]="true"
            lines="none"
        >
            <ion-label>Eliminar inscripcion</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
