<div class="card-trophy ion-text-center">
    <ion-row class="icons-line1">
        <ion-col class="ion-no-padding ion-no-margin">
            <fa-icon icon="thumbs-up" class="like"></fa-icon>
            <p
                class="number-trophy"
                [countUp]="likes?.count ?? 0"
                [duration]="1500"
            ></p>
        </ion-col>

        <ion-col
            class="ion-no-padding ion-no-margin"
            style="border-right: 1px solid rgba(0, 0, 0, 0.1)"
        >
            <fa-icon icon="clipboard-check" class="inscriptions"></fa-icon>
            <p
                class="number-trophy"
                [countUp]="inscriptions?.count ?? 0"
                [duration]="1500"
            ></p>
        </ion-col>
        <ion-col
            class="ion-no-padding ion-no-margin"
            style="border-right: 1px solid rgba(0, 0, 0, 0.1)"
        >
            <fa-icon icon="heart" class="like"></fa-icon>
            <p
                class="number-trophy"
                [countUp]="votes?.count ?? 0"
                [duration]="1500"
            ></p>
        </ion-col>
    </ion-row>

    <ion-row class="icons-line2">
        <ion-col
            class="ion-no-padding ion-no-margin"
            style="border-right: 1px solid rgba(0, 0, 0, 0.1)"
        >
            <fa-icon icon="trophy" class="gold"></fa-icon>
            <p
                class="number-trophy"
                [countUp]="gold?.count ?? 0"
                [duration]="1500"
            ></p>
        </ion-col>
        <ion-col class="ion-no-padding ion-no-margin">
            <fa-icon icon="trophy" class="silver"></fa-icon>
            <p
                class="number-trophy"
                [countUp]="silver?.count ?? 0"
                [duration]="1500"
            ></p>
        </ion-col>
        <ion-col
            class="ion-no-padding ion-no-margin"
            style="border-left: 1px solid rgba(0, 0, 0, 0.1)"
        >
            <fa-icon icon="trophy" class="bronze"></fa-icon>
            <p
                class="number-trophy"
                [countUp]="bronze?.count ?? 0"
                [duration]="1500"
            ></p>
        </ion-col>
    </ion-row>
</div>
