.div-item {
    text-align: center;
    margin: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.item-center {
    font-weight: 300;
    margin: 0;
    font-size: 0.8rem;
}

.item-left {
    font-weight: 500;
    margin: 0;
    font-size: 0.9rem;
}

.item-right {
    font-weight: 500;
    margin: 0;
    font-size: 0.9rem;
}

.div-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-left {
    width: 40%;
}

.div-right {
    width: 40%;
}

.div-center {
    width: 20%;
}

.img {
    width: 50px;
    height: 50px;
}
