<ion-card mode="ios">
    <ion-card-content class="ion-no-padding">
        <div class="div-flex div-item">
            <div class="div-left item">
                <p class="item-left">
                    <img
                        class="img"
                        [src]="pairing?.car1.brand?.image?.url | image"
                    />
                </p>
            </div>
            <div class="div-center">
                <p class="item-center">{{ 'pairing.brand' | translate }}</p>
            </div>
            <div class="div-right">
                <p class="item-right">
                    <img
                        class="img"
                        [src]="pairing?.car2.brand?.image?.url | image"
                    />
                </p>
            </div>
        </div>
        <div class="div-flex div-item">
            <div class="div-left item">
                <p class="item-left">{{ pairing.car1.model }}</p>
            </div>
            <div class="div-center">
                <p class="item-center">{{ 'pairing.model' | translate }}</p>
            </div>
            <div class="div-right">
                <p class="item-right">{{ pairing.car2.model }}</p>
            </div>
        </div>
        <div class="div-flex div-item">
            <div class="div-left item">
                <p class="item-left">{{ pairing.car1.year }}</p>
            </div>
            <div class="div-center">
                <p class="item-center">{{ 'pairing.year' | translate }}</p>
            </div>
            <div class="div-right">
                <p class="item-right">{{ pairing.car2.year }}</p>
            </div>
        </div>
        <div class="div-flex div-item">
            <div class="div-left item">
                <p class="item-left">{{ pairing.car1.cc }}</p>
            </div>
            <div class="div-center">
                <p class="item-center">{{ 'pairing.cc' | translate }}</p>
            </div>
            <div class="div-right">
                <p class="item-right">{{ pairing.car2.cc }}</p>
            </div>
        </div>
        <div class="div-flex div-item">
            <div class="div-left item">
                <p class="item-left">{{ pairing.car1.cv }}</p>
            </div>
            <div class="div-center">
                <p class="item-center">{{ 'pairing.cv' | translate }}</p>
            </div>
            <div class="div-right">
                <p class="item-right">{{ pairing.car2.cv }}</p>
            </div>
        </div>
        <div class="div-flex div-item">
            <div class="div-left item">
                <p class="item-left">{{ pairing.car1.fuel | fuel }}</p>
            </div>
            <div class="div-center">
                <p class="item-center">{{ 'pairing.fuel' | translate | truncateText: 6 }}</p>
            </div>
            <div class="div-right">
                <p class="item-right">{{ pairing.car2.fuel | fuel }}</p>
            </div>
        </div>
        <div class="div-flex div-item">
            <div class="div-left item">
                <p class="item-left">{{ pairing.car1.traction | traction }}</p>
            </div>
            <div class="div-center">
                <p class="item-center">{{ 'pairing.traction' | translate }}</p>
            </div>
            <div class="div-right">
                <p class="item-right">{{ pairing.car2.traction | traction }}</p>
            </div>
        </div>
        <div class="div-flex div-item">
            <div class="div-left item">
                <p class="item-left">{{ pairing.car1.stock ? 'Si' : 'No' }}</p>
            </div>
            <div class="div-center">
                <p class="item-center">{{ 'pairing.stock' | translate }}</p>
            </div>
            <div class="div-right">
                <p class="item-right">
                    {{ pairing.car2.stock ? 'Si' : 'No' }}
                </p>
            </div>
        </div>
        <div class="div-flex div-item">
            <div class="div-left item">
                <p class="item-left">{{ pairing.car1.driver.name }}</p>
            </div>
            <div class="div-center">
                <p class="item-center">{{ 'pairing.nameDriver' | translate }}</p>
            </div>
            <div class="div-right">
                <p class="item-right">{{ pairing.car2.driver.name }}</p>
            </div>
        </div>
        <div class="div-flex div-item">
            <div class="div-left item">
                <img [src]="pairing.car1.driver.country ?? 'es' | flagByFile" />
            </div>
            <div class="div-center">
                <p class="item-center">{{ 'pairing.countryDriver' | translate }}</p>
            </div>
            <div class="div-right">
                <img [src]="pairing.car2.driver.country ?? 'es' | flagByFile" />
            </div>
        </div>
    </ion-card-content>
</ion-card>


