<ion-content color="primary">
    <ion-list>
        <ion-item
            color="primary"
            (click)="onClick('viewProfile')"
            [button]="true"
            [detail]="false"
        >
            <ion-label>Ver perfil</ion-label>
        </ion-item>
        <ion-item
            color="primary"
            (click)="onClick('edit')"
            [button]="true"
            [detail]="false"
        >
            <ion-label>Editar</ion-label>
        </ion-item>
        <ion-item
            color="primary"
            (click)="onClick('image')"
            [button]="true"
            [detail]="false"
        >
            <ion-label>Añadir Imagen</ion-label>
        </ion-item>
        <ion-item
            color="primary"
            (click)="onClick('delete')"
            [button]="true"
            lines="none"
            [detail]="false"
        >
            <ion-label>Eliminar</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
