<custom-header
    [options]="vm.header"
    (segmentChanged)="segmentChanged($event)"
></custom-header>

<ion-content [fullscreen]="true">
    <spinner [loading]="vm.loading.getCars"></spinner>
    <ion-refresher
        *ngIf="vm.header.segments.selected === 0"
        slot="fixed"
        (ionRefresh)="doRefresh($event)"
        pullFactor="0.8"
        pullMin="60"
        pullMax="120"
    >
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ion-row style="padding-top: 0">
        <ion-col
            class="ion-no-padding"
            style="padding-top: 0"
            size="12"
            sizeLg="8"
            offsetLg="2"
        >
            <!-- LATEST CARS -->
            <ng-container *ngIf="vm.header.segments.selected === 0">
                <ion-row
                    style="padding-top: 1rem"
                    class="animate__animated animate__fadeIn animate__faster ion-no-padding"
                >
                    <ion-col
                        size="12"
                        sizeMd="6"
                        sizeLg="6"
                        sizeXl="6"
                        *ngFor="let car of vm.cars"
                        class="ion-no-padding ion-no-margin"
                        style="margin-top: -1rem"
                    >
                        <car-item
                            [car]="car"
                            (clickItem)="onClickCar($event)"
                        ></car-item>
                    </ion-col>
                </ion-row>

                <ion-infinite-scroll
                    threshold="100px"
                    (ionInfinite)="loadMoreData($event, 'cars')"
                >
                    <ion-infinite-scroll-content
                        loadingSpinner="bubbles"
                        loadingText="Cargando..."
                    >
                    </ion-infinite-scroll-content>
                </ion-infinite-scroll>
            </ng-container>

            <!-- TOP CARS -->
            <ng-container *ngIf="vm.header.segments.selected === 1">
                <ion-row
                    style="padding-top: 1rem"
                    class="animate__animated animate__fadeIn animate__faster ion-no-padding"
                >
                    <ion-col
                        size="12"
                        sizeMd="6"
                        sizeLg="6"
                        sizeXl="6"
                        *ngFor="let car of vm.topCars"
                        class="ion-no-padding ion-no-margin"
                        style="margin-top: -1rem"
                    >
                        <car-item
                            [car]="car"
                            type="topCars"
                            (clickItem)="onClickCar($event)"
                        ></car-item>
                    </ion-col>
                </ion-row>
            </ng-container>

            <!-- BRANDS -->
            <div
                *ngIf="vm.header.segments.selected === 2"
                class="animate__animated animate__fadeIn animate__faster"
            >
                <ion-row
                    style="padding-top: 1rem"
                    class="animate__animated animate__fadeIn animate__faster ion-no-padding"
                >
                    <ion-col
                        size="12"
                        sizeMd="6"
                        sizeLg="6"
                        sizeXl="6"
                        *ngFor="let brand of vm.brands"
                        class="ion-no-padding ion-no-margin"
                        style="margin-top: -1rem"
                    >
                        <brand-item
                            [brand]="brand"
                            (clickItem)="onClickBrand($event)"
                        >
                        </brand-item>
                    </ion-col>
                    <ion-infinite-scroll
                        threshold="100px"
                        (ionInfinite)="loadMoreData($event, 'brands')"
                    >
                        <ion-infinite-scroll-content
                            loadingSpinner="bubbles"
                            loadingText="Cargando..."
                        >
                        </ion-infinite-scroll-content>
                    </ion-infinite-scroll>
                </ion-row>
            </div>
        </ion-col>
    </ion-row>
    <ion-fab *ngIf="vm.filter" vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button size="small" (click)="cleanFilter()">
            <ion-icon name="close"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
