<ion-header class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-title>{{ vm.title }}</ion-title>
    <ion-segment mode="md" [value]="vm.segments.selected" (ionChange)="segmentChanged($event)">
      <ion-segment-button *ngFor="let item of vm.segments.items; let i = index" [value]="i">
        <ion-label>{{ item }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="vm.segments.selected === 0" class="animate__animated animate__fadeIn animate__fast">
    <car-item *ngFor="let car of vm.cars" [car]="car"></car-item>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event, 'cars')">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

  <div *ngIf="vm.segments.selected === 1" class="animate__animated animate__fadeIn animate__fast">
    <brand-item *ngFor="let brand of vm.brands" [brand]="brand" (onClick)="onClickBrand($event)"></brand-item>
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event, 'brands')">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Cargando...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </div>

  <ion-fab *ngIf="vm.filter" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button size="small" (click)="cleanFilter()">
      <ion-icon name="close"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>