<ion-header *ngIf="options" class="ion-no-border" mode="md">
    <ion-toolbar>
        <ng-container *ngIf="options.backButton?.state">
            <ion-back-button
                [ngClass]="{
                    'back-button-segments': options.segments?.items.length > 0,
                    'back-button-no-segments': !options.segments
                }"
                [defaultHref]="options.backButton?.route"
            >
            </ion-back-button>
        </ng-container>

        <ion-button
            *ngIf="options.rightButton?.state"
            color="light"
            fill="clear"
            class="icon-right-no-segments animate__animated animate__fadeIn"
            (click)="clickRightIcon.emit()"
        >
            <ion-icon
                slot="icon-only"
                [name]="options.rightButton?.icon"
            ></ion-icon>
        </ion-button>

        <ion-title
            [ngClass]="{
                'ion-title-padding-top-segments':
                    options.segments?.items.length > 0,
                'ion-title-padding-top-no-segments': !options.segments
            }"
        >
            {{ options.title }}</ion-title
        >

        <ion-segment
            *ngIf="options.segments && options.segments.items.length > 0"
            mode="ios"
            [value]="options.segments.selected"
            (ionChange)="segmentChanged.emit($event)"
        >
            <ion-segment-button
                *ngFor="let item of options.segments.items; let i = index"
                [value]="i"
            >
                <ion-label>{{ item }}</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>
