<ion-header *ngIf="options" class="ion-no-border" mode="md">
    <ion-toolbar
        [ngStyle]="{
            height:
                !options.segments || options.segments.items.length === 0
                    ? '60px'
                    : ''
        }"
    >
        <ng-container *ngIf="options.backButton?.state">
            <!-- <div
                class="back-button ion-activatable ripple-parent"
                (click)="goToBack()"
            >
                <ion-icon name="arrow-back-circle-outline"></ion-icon>
                <ion-ripple-effect></ion-ripple-effect>
            </div> -->
            <ion-back-button
                [ngClass]="{
                    'back-button-segments': options.segments?.items.length > 0,
                    'back-button-no-segments': !options.segments
                }"
                [defaultHref]="options.backButton?.route"
            ></ion-back-button>
        </ng-container>

        <ion-title
            [ngClass]="{
                'ion-title-padding-top-segments':
                    options.segments?.items.length > 0,
                'ion-title-padding-top-no-segments': !options.segments
            }"
        >
            {{ options.title }}</ion-title
        >

        <ion-segment
            *ngIf="options.segments && options.segments.items.length > 0"
            mode="md"
            [value]="options.segments.selected"
            (ionChange)="segmentChanged.emit($event)"
        >
            <ion-segment-button
                *ngFor="let item of options.segments.items; let i = index"
                [value]="i"
            >
                <ion-label>{{ item }}</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>
