<ion-header *ngIf="options" class="ion-no-border" mode="md">
    <ion-toolbar [ngStyle]="{
        'height': !options.segments || 
            options.segments.items.length === 0 ?  '70px' : options.image ? '220px': ''
    }">
        <div *ngIf="options.backButton" class="back-button ion-activatable ripple-parent" (click)="goToBack()">
            <ion-icon name="arrow-back-circle-outline"></ion-icon>
            <ion-ripple-effect></ion-ripple-effect>
        </div>

        <ion-title>{{ options.title }}</ion-title>

        <ion-card mode="ios" *ngIf="options?.image">
            <ion-card-content
                style="background-image: linear-gradient(rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)), url({{options?.image?.url|image}}">
            </ion-card-content>
        </ion-card>

        <ion-segment *ngIf="options.segments && options.segments.items.length > 0" mode="md"
            [value]="options.segments.selected" (ionChange)="segmentChanged.emit($event)">
            <ion-segment-button class="animate__animated animate__fadeIn animate__fast" *ngFor="let item of options.segments.items; let i = index" [value]="i">
                <ion-label>{{ item }}</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>
