ion-card {
    --color: var(--ion-color-dark);
    --border-radius: 8px;
    --border-color: var(--ion-color-medium);
    --box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

ion-card-content {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    height: 120px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.back-button {
    z-index: 100;
    position: absolute;
    left: 1rem;
    top: 0.6rem;
    color: #fff;
    border-radius: 100%;
    zoom: 1.5;
}
