ion-toolbar {
    --background: var(--ion-color-primary);
    --color: var(--ion-color-primary-contrast);
    border-radius: 0 0px 10px 10px;
    border-bottom: 0px solid #ececec;
    box-shadow: rgba(0, 0, 0, 0.5) 0 0 5px;
}

ion-title {
    z-index: 1;
    text-align: center;
    font-size: 1.25rem;
}

ion-card {
    --color: var(--ion-color-dark);
    --border-radius: 10px;
    --border-color: var(--ion-color-medium);
    --box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
}

ion-card-content {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    height: 120px;
    padding-left: 1rem;
    padding-right: 1rem;
}

.back-button-segments {
    z-index: 100;
    position: absolute;
    top: 0.1rem;
    left: 0.5rem;
}

.back-button-no-segments {
    z-index: 100;
    position: absolute;
    top: 0.3rem;
    left: 0.5rem;
}

.ion-title-padding-top-segments {
    padding-top: 0.8rem;
}

.ion-title-padding-top-no-segments {
    margin-top: 0rem;
}
