<ion-title mode="md" style="margin: 1rem 0 0.5rem 0;">{{ 'tournament.titleWinners' | translate }}</ion-title>
<ng-container mode="ios" *ngIf="winners">
    <winner-car-item type="gold" [car]="winners.gold.car" (clickItem)="clickItem.emit($event)"></winner-car-item>
    <winner-car-item type="silver" [car]="winners.silver.car" (clickItem)="clickItem.emit($event)"></winner-car-item>
    <winner-car-item type="bronze" [car]="winners.bronze.car" (clickItem)="clickItem.emit($event)"></winner-car-item>
</ng-container>
