<ion-content>
    <div class="ion-content" *ngIf="!loading">
        <img [src]="logo" />
        <div class="wrapper ion-text-center">
            <!-- <p class="title">CarsTournaments</p> -->
            <p class="description">
                Torneos de coches ficticios basados en popularidad. ¿Que como va
                esto? <br />¡Aqui no gana el que mas corre, si no el que mas
                apoyo tiene!
            </p>
            <br />
            <ion-button
                style="margin-top: 0.5rem"
                mode="ios"
                color="primary"
                expand="block"
                (click)="enter()"
            >
                Entrar
            </ion-button>
            <br />
        </div>
    </div>
</ion-content>
