<ion-content>
    <div class="ion-content">
        <div class="ion-text-center">
            <p class="title">Cars<br />Tournaments</p>
            <hr />
            <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor
                impedit inventore quo debitis suscipit molestiae ut? Itaque
                soluta minus, animi rerum alias doloribus, optio ex, eligendi
                aliquam error labore dolor.
            </p>
            <hr />
            <ion-button
                style="margin-top: 1rem"
                mode="ios"
                color="dark"
                expand="block"
                [routerLink]="['/tab']"
                >Entrar</ion-button
            >
        </div>
    </div>
</ion-content>
