.requirement-title {
  font-weight: 800;
  font-size: 0.9rem;
}

.requirement-item-icon {
  zoom: 0.8;
  margin-bottom: 0.6rem;
  color: green;
  margin-right: 0.5rem;
}

.mb-20 {
  margin-bottom: -20px;
}
