<ng-container *ngIf="tournament.requisites?.length > 0">
  <ion-title mode="md" style="margin: 1rem 0 0.5rem 0">Requisitos</ion-title>

  <ion-card
    mode="ios"
    *ngFor="let item of tournament.requisites"
    class="option-item"
  >
    <ion-item color="light" mode="ios" lines="none" detailIcon="alert-circle-outline" detail>
      <ion-icon
        slot="end"

      ></ion-icon>
      <ion-label
        ><h2>{{ item.name }}</h2></ion-label
      >
    </ion-item>
  </ion-card>
</ng-container>
