// .dashboard-title {
//   text-align: center;
//   margin-bottom: 1.5rem;
//   font-size: 1.25rem;
//   font-weight: bold;
// }

// ion-card,
// ion-card-content {
//   padding: 0;
// }

// ion-card {
//   margin-top: 1rem;
// }

// ion-card-content {
//   padding: 1rem;
//   padding-top: 0.5rem;
// }
.car-info-value {
  font-weight: 600;
  font-size: 1rem;
  color: var(--ion-color-dark);
}

.car-info-key {
  font-weight: 500;
}
