<ion-grid>
  <ion-row class="ion-text-center">
    <ng-container *ngFor="let item of itemsOrder | slice: 0:3; index as i">
      <ion-col
        size="4"
        class="ion-text-center"
        [ngClass]="{
          'border-right': i !== 2
        }"
      >
        <p class="car-info-value">{{ items[item.value] }}</p>
        <small *ngIf="item.value !== 'tournamentsWinners'" class="car-info-key">
          {{ item.name }}
        </small>
        <small *ngIf="item.value === 'tournamentsWinners'" class="car-info-key">
          <ion-icon name="trophy" class="trophy gold"></ion-icon>
          <ion-icon name="trophy" class="trophy silver"></ion-icon>
          <ion-icon name="trophy" class="trophy bronze"></ion-icon>
        </small>
      </ion-col>
    </ng-container>
  </ion-row>

  <hr style="margin-top: 0.5rem" />

  <ion-row class="ion-text-center">
    <ng-container *ngFor="let item of itemsOrder | slice: 3:6; index as i">
      <ion-col
        size="4"
        class="ion-text-center"
        [ngClass]="{
          'border-right': i !== 2
        }"
      >
        <p class="car-info-value">{{ items[item.value] }}</p>
        <small *ngIf="item.value !== 'tournamentsWinners'" class="car-info-key">
          {{ item.name }}
        </small>
        <small *ngIf="item.value === 'tournamentsWinners'" class="car-info-key">
          <ion-icon name="trophy" class="trophy gold"></ion-icon>
          <ion-icon name="trophy" class="trophy silver"></ion-icon>
          <ion-icon name="trophy" class="trophy bronze"></ion-icon>
        </small>
      </ion-col>
    </ng-container>
  </ion-row>
</ion-grid>
