<custom-header [options]="vm.header"></custom-header>

<ion-content [fullscreen]="true" class="animate__animated animate__fadeIn animate__faster">
  <spinner [loading]="vm.loading"></spinner>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)" pullFactor="0.8" pullMin="60" pullMax="120">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-row style="padding-top: 0" class="animate__animated animate__fadeIn animate__faster">
    <ion-col class="ion-no-padding" style="padding-top: 0" size="12" sizeLg="8" offsetLg="2">
      <custom-header-sub [title]="vm.header.title" [buttons]="true"></custom-header-sub>
      <ion-item>
        <ion-label>Ordenar por:</ion-label>
        <ion-select [(ngModel)]="vm.bodyRanking.order" (ngModelChange)="changeOrder()" mode="ios" okText="Aceptar"
          cancelText="Cancelar">
          <ion-select-option *ngFor="let item of vm.itemsOrderDefault" [value]="item.value">{{item.name}}
          </ion-select-option>
        </ion-select>
      </ion-item>

      <ng-container *ngFor="let ranking of vm.ranking; let i = index">
        <ranking-item [ranking]="ranking" [i]="i" [itemsOrder]="vm.itemsOrder"></ranking-item>
      </ng-container>
    </ion-col>
  </ion-row>
</ion-content>
