<custom-header [options]="vm.header"></custom-header>

<ion-content [fullscreen]="true" class="animate__animated animate__fadeIn animate__faster">
  <ion-item>
    <ion-label>Ordenar por:</ion-label>
    <ion-select [(ngModel)]="vm.bodyRanking.order" (ngModelChange)="changeOrder()" mode="ios" okText="Aceptar" cancelText="Cancelar">
      <ion-select-option *ngFor="let item of vm.itemsOrderDefault" [value]="item.value">{{item.name}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ng-container *ngFor="let ranking of vm.ranking; let i = index">
    <ranking-item [ranking]="ranking" [i]="i" [itemsOrder]="vm.itemsOrder"></ranking-item>
  </ng-container>
</ion-content>
