<custom-header [options]="vm.header"></custom-header>

<ion-content
    [fullscreen]="true"
    class="animate__animated animate__fadeIn animate__faster"
>
    <ion-row style="padding-top: 0">
        <ion-col style="padding-top: 0" size="12" sizeLg="8" offsetLg="2">
            <auth
                (clickLogin)="onLogged()"
                *ngIf="!logged && !vm.registerMode"
            ></auth>

            <ng-container
                *ngIf="logged && !vm.registerMode && vm.user && vm.resume"
            >
                <ion-card mode="ios" style="margin-bottom: 1rem">
                    <ion-card-content>
                        <dashboard-resume
                            [resume]="vm.resume"
                            [user]="vm.user"
                        ></dashboard-resume>
                    </ion-card-content>
                </ion-card>
                <!-- <div class="wrapper-option-items"> -->

                <ion-card
                    mode="ios"
                    class="option-item"
                    *ngFor="let item of vm.options"
                    (click)="onClickOption(item)"
                    style="margin-top: -0.25rem"
                >
                    <ion-item
                        color="light"
                        mode="ios"
                        [button]="true"
                        lines="none"
                    >
                        {{ item.name }}
                    </ion-item>
                </ion-card>
                <!-- </div> -->
            </ng-container>
        </ion-col>
    </ion-row>
</ion-content>
