<ion-card
    *ngIf="car"
    mode="ios"
    style="padding-top: 0; padding-bottom: 0"
    (click)="clickItem.emit(car)"
    button
>
    <ion-card-content [ngStyle]="{ backgroundImage: backgroundImage }">
        <!-- NORMAL -->
        <div class="normal" *ngIf="type === 'normal'">
            <div class="card-title-car">
                {{ car.brand.name + ' ' + car.model | truncateText: 20 }}
            </div>
            <div *ngIf="car.driver" class="card-driver">
                <div class="card-driver-name">{{ car.driver?.name }}</div>
            </div>
            <div *ngIf="car.brand.image" class="card-brand-image">
                <img [src]="car?.brand?.image?.url | image" />
            </div>
        </div>

        <!-- LIKES RECEIVED -->
        <div class="likes" *ngIf="type === 'likesReceived'">
            <div class="card-title-car">
                {{ car.brand.name + ' ' + car.model | truncateText: 20 }}
            </div>

            <div *ngIf="likesOptions && likesOptions.likes" class="card-likes">
                <span
                    *ngIf="likesOptions.likes === 1 || likesOptions.likes > 1"
                >
                    {{ likesOptions.likes }}
                    <span *ngIf="likesOptions.likes === 1">
                        Me gusta recibido
                    </span>
                    <span *ngIf="likesOptions.likes > 1">
                        Me gustas recibidos
                    </span>
                </span>
                <span *ngIf="likesOptions.likes === 0">
                    Sin me gustas recibidos
                </span>
            </div>

            <div
                *ngIf="likesOptions && likesOptions.likes > 0"
                class="card-top-right"
            >
                Ultimo <br />
                {{ likesOptions?.lastLike | dateToTimeAgo | uppercase }}
            </div>
        </div>

        <!-- LIKES SENT -->
        <div class="likes" *ngIf="type === 'likesSent'">
            <div class="card-title-car">
                {{ car.brand.name + ' ' + car.model | truncateText: 20 }}
            </div>
            <div *ngIf="car.driver">
                <div class="card-driver-name">{{ car.driver?.name }}</div>
            </div>

            <div
                *ngIf="likesOptions && likesOptions.created"
                class="card-top-right"
            >
                {{ likesOptions.created | dateToTimeAgo | uppercase }}
            </div>
        </div>

        <!-- TOPCARS -->
        <div class="topCars" *ngIf="type === 'topCars'">
            <div class="card-title-car">
                {{ car.brand.name + ' ' + car.model | truncateText: 20 }}
            </div>

            <div *ngIf="car.driver" class="card-driver">
                <div class="card-driver-name">{{ car.driver?.name }}</div>
            </div>

            <div *ngIf="car.likes" class="card-likes">
                <p>
                    <span>{{ car.likes?.count }}</span>
                    {{ car.likes?.count === 1 ? 'me gusta' : 'me gustas' }}
                </p>
            </div>
        </div>
    </ion-card-content>
</ion-card>
