<tournament-item
  [tournament]="item.tournament"
  type="inscriptions"
  (clickItem)="goToTournament($event)"
></tournament-item>

<ion-card mode="ios" class="option-item" *ngFor="let car of item?.cars">
  <ion-item
    button
    (click)="clickCar(car._id, item.tournament._id)"
    [detail]="item.tournament.status === 'Todo' ? false : true"
    lines="none"
  >
    <ion-avatar slot="start">
      <img [src]="car.images | imageCar" />
    </ion-avatar>
    <ion-label>{{ car.brand.name + ' ' + car.model }}</ion-label>
    <ion-icon
      class="more"
      *ngIf="item.tournament.status === 'Todo'"
      name="ellipsis-vertical"
    ></ion-icon>
  </ion-item>
</ion-card>
