.card-trophy {
    margin-top: 1rem;
    // padding: 0.5rem;
}

.number-trophy {
    font-size: 1.5rem;
    font-weight: 300;
    display: inline-block;
    padding-left: 1rem;
}

ion-icon {
    font-size: 1.25rem;
}
