<div class="card-trophy ion-text-center">
    <ion-row>
        <ion-col
            class="ion-no-padding ion-no-margin"
            style="border-right: 1px solid rgba(0, 0, 0, 0.1)"
        >
            <ion-icon name="trophy" class="gold"></ion-icon>
            <p class="number-trophy">{{ winners?.gold }}</p>
        </ion-col>
        <ion-col class="ion-no-padding ion-no-margin">
            <ion-icon name="trophy" class="silver"></ion-icon>
            <p class="number-trophy">{{ winners?.silver }}</p>
        </ion-col>
        <ion-col
            class="ion-no-padding ion-no-margin"
            style="border-left: 1px solid rgba(0, 0, 0, 0.1)"
        >
            <ion-icon name="trophy" class="bronze"></ion-icon>
            <p class="number-trophy">{{ winners?.bronze }}</p>
        </ion-col>
    </ion-row>
</div>
