<h1 class="title-custom">{{ 'tournament.titleOptions' | translate }}</h1>

<ion-card
  mode="ios"
  class="option-item"
  button
  *ngIf="
    tournament.status === 'InProgress' || tournament.status === 'Completed'
  "
>
  <ion-item
    color="light"
    mode="ios"
    lines="none"
    (click)="clickOption.emit('goToRounds')"
  >
    <ion-label>
      <h2>{{ 'tournament.linkTitleRounds' | translate }}</h2>
      <small class="min-text-weight">
        {{ 'tournament.linkSubtitleRound' | translate }}
      </small>
    </ion-label>
  </ion-item>
</ion-card>

<ion-card mode="ios" class="option-item" button>
  <ion-item
    color="light"
    mode="ios"
    lines="none"
    (click)="clickOption.emit('goToInscriptions')"
  >
    <ion-label>
      <h2>{{ 'tournament.linkTitleInscriptions' | translate }}</h2>
      <small class="min-text-weight">
        {{ 'tournament.linkSubtitleInscriptions' | translate }}
      </small>
    </ion-label>
  </ion-item>
</ion-card>
