<ion-title style="margin: 1rem 0 0.5rem 0;">
  <span *ngIf="myCars?.inscribed.length > 1">{{'tournament.youCarsInscribed' | translate}}</span>
  <span *ngIf="myCars?.inscribed.length === 1">{{'tournament.youCarInscribed' | translate}}</span>
</ion-title>


<ng-container *ngIf="myCars?.inscribed.length > 0">
  <ion-card mode="ios" class="option-item" *ngFor="let car of myCars?.inscribed"
    (click)="confirmDeleteInscriptionClick.emit(car)">
    <ion-item color="light" mode="ios"  button lines="none" detail detailIcon="close">
      <ion-avatar slot="start" class="avatar-border">
        <img [src]="car.image?.url | image" />
      </ion-avatar>
      <ion-label>
        {{ car.brand.name }} {{ car.model }}
      </ion-label>
      <!-- <ion-icon style="font-size: 1.2rem" slot="end" name="close"></ion-icon> -->
    </ion-item>
  </ion-card>
</ng-container>
