<custom-header
    [options]="vm.header"
    (segmentChanged)="segmentChanged($event)"
></custom-header>

<ion-content [fullscreen]="true">
    <ion-refresher
        slot="fixed"
        (ionRefresh)="doRefresh($event)"
        pullFactor="0.8"
        pullMin="60"
        pullMax="120"
    >
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-row
        style="padding-top: 0"
        class="animate__animated animate__fadeIn animate__faster"
        *ngIf="vm.tournaments"
    >
        <ion-col style="padding-top: 0" size="12" sizeLg="8" offsetLg="2">
            <tournaments-slider
                title="Torneos en curso"
                [tournaments]="vm.tournaments.inProgress"
                (clickItem)="goTo($event)"
            ></tournaments-slider>
            <tournaments-slider
                title="Torneos proximos"
                [tournaments]="vm.tournaments.todo"
                (clickItem)="goTo($event)"
            >
            </tournaments-slider>
            <tournaments-slider
                title="Torneos completados"
                [tournaments]="vm.tournaments.completed"
                (clickItem)="goTo($event)"
            >
            </tournaments-slider>
        </ion-col>
    </ion-row>
</ion-content>
