<ion-header class="ion-no-border" mode="md">
  <ion-toolbar>
    <ion-title>{{ vm.title }}</ion-title>
    <ion-segment mode="md" [value]="vm.segments.selected" (ionChange)="segmentChanged($event)">
      <ion-segment-button *ngFor="let item of vm.segments.items; let i = index" [value]="i">
        <ion-label>{{ item }}</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="animate__animated animate__fadeIn animate__fast" *ngIf="vm.segments.selected === 0">
    <tournament-item *ngFor="let tournament of vm.tournaments" [tournament]="tournament"></tournament-item>
  </div>
  <div class="animate__animated animate__fadeIn animate__fast" *ngIf="vm.segments.selected === 1">
    <ion-item>Proximos</ion-item>
  </div>
  <div class="animate__animated animate__fadeIn animate__fast" *ngIf="vm.segments.selected === 2">
    <ion-item>Completados</ion-item>
  </div>
</ion-content>