<ng-container
  *ngIf="
    myCars?.availables.length > 0 ||
    myCars?.inscribed.length > 0 ||
    myCars?.unavailable.length > 0
  "
>
  <ion-title mode="md" style="margin: 1rem 0 0.5rem 0">
    <span
      *ngIf="
        myCars?.availables.length > 1 ||
        myCars?.inscribed.length > 1 ||
        myCars?.unavailable.length > 1
      "
    >
      {{ 'tournament.youCars' | translate }}
    </span>
    <span
      *ngIf="
        myCars?.availables.length +
          myCars?.inscribed.length +
          myCars?.unavailable.length ===
        0
      "
    >
      {{ 'tournament.youCar' | translate }}
    </span>
  </ion-title>

  <ion-card
    mode="ios"
    class="option-item"
    *ngFor="let car of myCars?.availables"
    (click)="inscriptionClick.emit(car)"
  >
    <ion-item color="light" mode="ios" button lines="none" [detail]="false">
      <ion-avatar slot="start" class="avatar-border">
        <img [src]="car.image?.url | image" />
      </ion-avatar>
      <ion-label> {{ car.brand.name }} {{ car.model }} </ion-label>
      <ion-label slot="end">
        <small>Inscribir</small>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card
    mode="ios"
    class="option-item"
    *ngFor="let car of myCars?.inscribed"
    (click)="deleteInscriptionClick.emit(car)"
  >
    <ion-item color="light" mode="ios" button lines="none" [detail]="false">
      <ion-avatar slot="start" class="avatar-border">
        <img [src]="car.image?.url | image" />
      </ion-avatar>
      <ion-label> {{ car.brand.name }} {{ car.model }} </ion-label>
      <ion-label slot="end">
        <small>Desinscribir</small>
      </ion-label>
    </ion-item>
  </ion-card>

  <ion-card
    mode="ios"
    class="option-item"
    *ngFor="let car of myCars?.unavailable"
  >
    <ion-item color="light" mode="ios" lines="none" [detail]="false">
      <ion-avatar slot="start" class="avatar-border">
        <img [src]="car.image?.url | image" />
      </ion-avatar>
      <ion-label> {{ car.brand.name }} {{ car.model }} </ion-label>
      <ion-label slot="end">
        <small>No disponible</small>
      </ion-label>
    </ion-item>
  </ion-card>
</ng-container>
