<ion-card mode="ios" style="margin-bottom: 1rem">
  <ion-card-content style="padding: 0.5rem">
    <dashboard-resume
      [items]="resume"
      [user]="user"
      [itemsOrder]="itemsOrder"
    ></dashboard-resume>
  </ion-card-content>
</ion-card>

<can-you-help></can-you-help>
<ng-container *ngFor="let item of options">
  <ion-card
    [id]="'option_' + item.id"
    mode="ios"
    class="option-item"
    (click)="goTo.emit(item)"
    style="margin-top: -0.25rem"
    *ngIf="item.state"
  >
    <ion-item
      color="light"
      mode="ios"
      button
      lines="none"
      [detail]="!item.value || item.value !== 'darkMode'"
    >
      <ion-label>
        {{ item.name }}
        <small *ngIf="item.subtitle"><br />{{ item.subtitle }} </small>
      </ion-label>
      <ion-toggle
        *ngIf="item.value === 'darkMode'"
        slot="end"
        [ngModel]="darkMode"
        (ionChange)="changeMode()"
      >
      </ion-toggle>
    </ion-item>
  </ion-card>
</ng-container>
