.car-info-value {
  font-weight: 900;
  font-size: 1rem;
  margin: 0;
}

.car-info-key {
  font-weight: 500;
  color: var(--ion-color-medium-shade);
}

.border-bottom {
  border-bottom: 1px solid var(--ion-color-medium);
}
