<ion-card
    *ngIf="car"
    mode="ios"
    class="ion-activatable"
    style="padding-top: 0; padding-bottom: 0"
    (click)="clickItem.emit(car)"
>
    <ion-card-content
        style="
            background-image: linear-gradient(rgba(0, 0, 0, 0.43), 
            rgba(0, 0, 0, 0.43)), 
            url({{ image?.url }})
        "
    >
        <div class="card-title-car">{{ car.brand.name }} {{ car.model }}</div>
        <div class="card-driver">
            <div class="card-driver-name">{{ car.driver?.name }}</div>
        </div>
        <div *ngIf="car.brand.image" class="card-brand-image">
            <img [src]="car?.brand?.image?.url | image" />
        </div>
    </ion-card-content>
    <ion-ripple-effect></ion-ripple-effect>
</ion-card>
