<custom-header [options]="vm.header"></custom-header>

<ion-content [fullscreen]="true">
  <spinner [loading]="vm.loading"></spinner>

  <ion-row style="padding-top: 0">
    <ion-col class="ion-no-padding" style="padding-top: 0" size="12" sizeLg="8" offsetLg="2">
      <custom-header-sub  [title]="vm.header.title" [buttons]="false"></custom-header-sub>

      <auth (changeTitle)="onChangeTitle($event)" (loggedSuccess)="onLogged()" *ngIf="!logged"></auth>

      <ng-container *ngIf="logged && vm.user && vm.resume">
        <dashboard [resume]="vm.resume" [user]="vm.user" [options]="vm.options" [itemsOrder]="vm.itemsOrder" (goTo)="onClickOption($event)">
        </dashboard>
      </ng-container>
    </ion-col>
  </ion-row>
</ion-content>
