<div *ngFor="let round of rounds">
    <div *ngIf="roundSelected === round._id">
        <ion-card mode="ios">
            <ion-card-title
                class="ion-text-center"
                style="padding-top: 0.75rem"
            >
                {{ round.name }}
            </ion-card-title>
            <hr />
            <ion-card-content style="padding: 0.5rem; padding-bottom: 1rem">
                <ion-row>
                    <ion-col size="4" class="ion-text-center item-block-resume">
                        <small>Inicio</small>
                        <p>
                            {{
                                round.startDate
                                    | dateToTimeAgo: true
                                    | fistLetterCase
                            }}
                        </p>
                    </ion-col>
                    <ion-col size="4" class="ion-text-center item-block-resume">
                        <small>Votos</small>
                        <p>{{ round.votes.length }}</p>
                    </ion-col>
                    <ion-col size="4" class="ion-text-center item-block-resume">
                        <small>Fin</small>
                        <p>
                            {{
                                round.endDate
                                    | dateToTimeAgo: true
                                    | fistLetterCase
                            }}
                        </p>
                    </ion-col>
                </ion-row>
                <hr />
                <ion-segment
                    mode="md"
                    [value]="roundSelected"
                    scrollable="true"
                    (ionChange)="segmentChanged($event)"
                >
                    <ion-segment-button
                        [value]="round._id"
                        *ngFor="let round of rounds"
                    >
                        <ion-label>{{ round.name }}</ion-label>
                    </ion-segment-button>
                </ion-segment>
            </ion-card-content>
        </ion-card>

        <ion-card
            mode="ios"
            *ngFor="let pairing of round.pairings"
            class="ion-activatable"
            (click)="goToPairing(pairing)"
        >
            <div
                class="image-car1"
                style="background-image:linear-gradient(rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)),url({{
                    pairing.car1?.image?.url | image
                }})"
            ></div>
            <div class="vs">VS</div>
            <div
                class="image-car2"
                style="background-image:linear-gradient(rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)),url({{
                    pairing.car2?.image?.url | image
                }})"
            ></div>
            <div class="carTitle1">
                <p>{{ pairing.car1.brand.name | truncateText: 15 }}</p>
                <span>{{ pairing.car1.model }}</span>
            </div>
            <!-- <ion-card-content>

                <div class="car-title2">
                    {{pairing.car2.brand.name | truncateText: 15 }}
                </div>
            </ion-card-content> -->
            <ion-ripple-effect></ion-ripple-effect>
        </ion-card>
    </div>
</div>
