<ion-segment mode="md" [value]="roundSelected" scrollable="true" (ionChange)="segmentChanged($event)">
    <ion-segment-button [value]="round._id" *ngFor="let round of rounds">
        <ion-label>{{ round.name }}</ion-label>
    </ion-segment-button>
</ion-segment>

<div *ngFor="let round of rounds">
    <div *ngIf="roundSelected === round._id">
        <ion-card mode="ios">
            <ion-card-content>
                <p>Inicio: {{ round.startDate | dateToTimeAgo:true | fistLetterCase }}</p>
                <p>Fin: {{ round.endDate | dateToTimeAgo:true | fistLetterCase }}</p>
            </ion-card-content>
        </ion-card>

        <ion-card mode="ios" *ngFor="let pairing of round.pairings">
            <div class="image-car1"
                style="background-image:linear-gradient(rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)),url({{pairing.car1?.image?.url|image}})">
            </div>
            <div class="vs">VS</div>
            <div class="image-car2"
                style="background-image:linear-gradient(rgba(0, 0, 0, 0.43), rgba(0, 0, 0, 0.43)),url({{pairing.car2?.image?.url|image}})">
            </div>
            <div class="carTitle1">
                <p>{{ pairing.car1.brand.name | truncateText: 15 }}</p>
              <span>{{ pairing.car1.model }}</span> 
            </div>
            <!-- <ion-card-content>

                <div class="car-title2">
                    {{pairing.car2.brand.name | truncateText: 15 }}
                </div>
            </ion-card-content> -->


        </ion-card>
    </div>
</div>