.image-car1 {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    height: 200px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-right: 1px solid var(--ion-color-medium);
}

.image-car2 {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    height: 200px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    border-left: 1px solid var(--ion-color-medium);
}

.carTitle1 {
    font-size: 1rem;
    font-weight: 800;
    position: absolute;
    left: 0;
    bottom: 50;
}

.car-title-2 {
    font-size: 1rem;
    font-weight: 800;
    position: absolute;
    left: 0;
    bottom: 10px;
    text-align: center;
    width: 100%;
}

.vs {
    position: absolute;
    top: 162.5px;
    font-size: 1.8rem;
    font-weight: 800;
    left: calc(50% - 35px);
    color: #fff;
    border: 1px solid #fff;
    border-radius: 100%;
    padding: 1rem;
    background: #000;
}
