<custom-header [options]="vm.header" (segmentChanged)="segmentChanged($event)"></custom-header>

<ion-content [fullscreen]="true" *ngIf="vm.car">
    <div class="animate__animated animate__fadeIn animate__fast" *ngIf="vm.header.segments.selected === 0">
        <ion-card mode="ios">
            <img *ngIf="vm.car?.image" [src]="vm.car?.image.url | image">
            <ion-card-header>
                <ion-card-title>
                    {{ vm.car.brand?.name }} {{ vm.car.model }}
                </ion-card-title>
            </ion-card-header>
            <ion-card-content>
                <p>{{ vm.car.year }}</p>
                <p>{{ vm.car.fuel }}</p>
                <p>{{ vm.car.traction }}</p>
                <p>{{ vm.car.cc }}</p>
                <p>{{ vm.car.cv }}</p>
            </ion-card-content>
        </ion-card>
    </div>

    <div class="animate__animated animate__fadeIn animate__fast" *ngIf="vm.header.segments.selected === 1">
        <ion-card mode="ios">
            <ion-card-header>
                <ion-card-title>
                    {{ vm.car.driver?.name }}
                </ion-card-title>
            </ion-card-header>
        </ion-card>
    </div>

</ion-content>