<ion-card
    mode="ios"
    (click)="clickItem.emit(tournament)"
    style="margin-left: 0.5rem; margin-right: 0.5rem"
    button
>
    <ion-card-content [ngStyle]="{ backgroundImage: backgroundImage }">
        <div
            [ngClass]="
                type === 'normal'
                    ? 'card-title-tournament'
                    : 'card-title-tournament-inscriptions'
            "
        >
            {{ tournament.name | truncateText: 23 }}
        </div>
        <div
            class="card-description-tournament"
            *ngIf="tournament.inscriptions !== undefined"
        >
            <ion-icon name="people"></ion-icon>
            <span>{{
                tournament.inscriptions + '/' + tournament.maxParticipants
            }}</span>
        </div>

        <div
            *ngIf="!tournament.lastRound && tournament.status !== 'Completed'"
            class="startDate"
        >
            <span class="day">
                {{ tournament?.startDate | momentFormat: 'DD-MM-YY' }}
            </span>
        </div>

        <div
            *ngIf="!tournament.lastRound && tournament.status === 'Completed'"
            class="startDate"
        >
            <span class="day">
                {{ tournament?.endDate | momentFormat: 'DD-MM-YY' }}
            </span>
        </div>

        <div class="currentRound" *ngIf="tournament.lastRound">
            {{ tournament.lastRound }}
        </div>
    </ion-card-content>
</ion-card>
