<ion-card id="tournament-item" mode="ios" (click)="clickItem.emit(tournament)" style="margin-left: 0.5rem; margin-right: 0.5rem" button>
  <ion-card-content [ngStyle]="{ backgroundImage: backgroundImage }">
    <div class="card-title-tournament">
      {{ tournament.name | truncateText: 23 }}
    </div>
    <div class="card-description-tournament" *ngIf="tournament.inscriptions !== undefined">
      <ion-icon name="people"></ion-icon>
      <span>{{
        tournament.inscriptions + '/' + tournament.maxParticipants
        }}</span>
    </div>
    <ng-container *ngIf="tournament.status === 'Todo'">
      <div class="startDate">
        <span class="day">
          {{ tournament?.startDate | momentDateShort }}
        </span>
      </div>
    </ng-container>

    <ng-container *ngIf="tournament.status === 'InProgress'">
      <div class="currentRound" >
        {{ tournament.lastRound }}
      </div>
    </ng-container>

    <ng-container *ngIf="tournament.status === 'Completed'">
      <div class="startDate">
        <span class="day">
          {{ tournament?.endDate | momentDateShort }}
        </span>
      </div>
    </ng-container>

  </ion-card-content>
</ion-card>
