<ion-content color="primary">
  <ion-list>
    <ion-item id="viewProfile" color="primary" (click)="onClick('viewProfile')" [button]="true" [detail]="false">
      <ion-label>{{ 'garageList.viewProfile' | translate }}</ion-label>
    </ion-item>
    <ion-item id="edit" color="primary" (click)="onClick('edit')" [button]="true" [detail]="false">
      <ion-label>{{ 'garageList.editCar' | translate }}</ion-label>
    </ion-item>
    <ion-item id="image" color="primary" (click)="onClick('image')" [button]="true" [detail]="false">
      <ion-label>{{ 'garageList.addImage' | translate }}</ion-label>
    </ion-item>
    <ion-item id="delete" color="primary" (click)="onClick('delete')" [button]="true" lines="none" [detail]="false">
      <ion-label>{{ 'garageList.deleteCar' | translate }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
