<custom-header [options]="vm.header"></custom-header>

<ion-content
    [fullscreen]="true"
    *ngIf="vm.cars"
    class="animate__animated animate__fadeIn"
>
    <ion-row style="padding-top: 0">
        <ion-col style="padding-top: 0" size="12" sizeLg="8" offsetLg="2">
            <ng-container *ngIf="vm.cars.length === 0">
                <ion-card>
                    <ion-card-content>
                        <p>
                            ¡No tienes ningun coche en tu garage!
                            <br />
                            <br />
                            Puedes usar el boton de abajo a la derecha para
                            añadir tu primer coche.
                        </p>
                    </ion-card-content>
                </ion-card>
            </ng-container>
            <ng-container *ngIf="vm.cars.length > 0">
                <ng-container *ngFor="let car of vm.cars; let i = index">
                    <div (click)="openPopover($event, car)">
                        <car-item [car]="car"> </car-item>
                    </div>
                </ng-container>
            </ng-container>
        </ion-col>
    </ion-row>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button color="primary" (click)="onClickAddCar()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>
</ion-content>
