<ion-content>
  <ion-list>
    <ion-item
      id="viewProfile"
      (click)="onClick('viewProfile')"
      [button]="true"
      [detail]="false"
    >
      <fa-icon slot="start" icon="eye"></fa-icon>
      <ion-label>{{ 'garageList.viewProfile' | translate }}</ion-label>
    </ion-item>
    <ion-item
      id="edit"
      (click)="onClick('edit')"
      [button]="true"
      [detail]="false"
    >
      <fa-icon slot="start" icon="pen"></fa-icon>
      <ion-label>{{ 'garageList.editCar' | translate }}</ion-label>
    </ion-item>
    <ion-item
      id="image"
      (click)="onClick('image')"
      [button]="true"
      [detail]="false"
    >
      <fa-icon slot="start" icon="camera"></fa-icon>
      <ion-label>{{ 'garageList.images' | translate }}</ion-label>
    </ion-item>
    <ion-item
      id="delete"
      (click)="onClick('delete')"
      [button]="true"
      lines="none"
      [detail]="false"
    >
      <fa-icon slot="start" icon="remove"></fa-icon>
      <ion-label>{{ 'garageList.deleteCar' | translate }}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
