<div
    class="dashboard-image"
    style="background: url({{ resume.image | image }})"
></div>

<h1 class="dashboard-title">{{ user.name | uppercase }}</h1>

<ion-row>
    <ion-col size="4">
        <p class="dashboard-resume-title">Coches</p>
        <p class="dashboard-resume-value">
            {{ resume.cars }}
        </p>
    </ion-col>
    <ion-col size="4">
        <p class="dashboard-resume-title">Inscripciones</p>
        <p class="dashboard-resume-value">
            {{ resume.inscriptions }}
        </p>
    </ion-col>
    <ion-col size="4">
        <p class="dashboard-resume-title">Ganados</p>
        <p class="dashboard-resume-value">
            {{ resume.winner }}
        </p>
    </ion-col>
</ion-row>
