// .dashboard-image {
//     text-align: center;
//     width: 100px;
//     height: 100px;
//     background-size: cover;
//     background-position: center;
//     background-repeat: no-repeat;
//     display: block;
//     margin-left: auto;
//     margin-right: auto;
//     margin-top: 1.5rem;
//     margin-bottom: 1rem;
//     background-repeat: no-repeat !important;
//     background-position: center !important;
//     background-size: cover !important;
//     border: 1px solid #ececec;
//     border-radius: 100%;
// }

.dashboard-title {
    text-align: center;
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: bold;
}
// .dashboard-resume {
//     font-size: 1rem;
//     font-weight: bold;
// }

// .dashboard-resume-title {
//     text-align: center;
//     font-size: 0.8rem;
//     margin: 0;
//     padding: 0;
//     text-transform: uppercase;
//     font-weight: 400;
// }

// .dashboard-resume-value {
//     text-align: center;
//     font-size: 1.25rem;
//     font-weight: bold;
//     margin: 0;
//     padding: 0;
// }
ion-card,
ion-card-content {
    padding: 0;
}

ion-card {
    margin-top: 1rem;
}

ion-card-content {
    padding: 1rem;
    padding-top: 0.5rem;
}

.card-trophy {
    margin-top: 1rem;
    background: #fff;
    border-radius: 10px;
}

.number-trophy {
    font-size: 1.5rem;
    font-weight: 300;
    display: inline-block;
    padding-left: 1rem;
}

ion-icon {
    font-size: 1.25rem;
    color: var(--ion-color-primary);
}
