<custom-header [options]="vm.header"></custom-header>

<ion-content
    [fullscreen]="true"
    *ngIf="vm.car"
    class="animate__animated animate__fadeIn"
>
    <spinner></spinner>
    <ion-row style="padding-top: 0">
        <ion-col
            style="padding-top: 0; margin-top: -10px"
            size="12"
            sizeLg="8"
            offsetLg="2"
        >
            <ion-card mode="ios">
                <div
                    *ngIf="vm.image"
                    class="div-image-one"
                    [ngStyle]="{'background-image': 'url(' + vm.image + ')'}"
                ></div>
            </ion-card>

            <ion-card mode="ios">
                <ion-card-title
                    class="ion-text-center"
                    style="padding-top: 0.75rem"
                >
                    {{ vm.car.brand?.name }} {{ vm.car.model }}
                </ion-card-title>
                <hr />
                <ion-card-content style="padding: 0.5rem; padding-bottom: 1rem">
                    <ion-row>
                        <ion-col size="4" class="ion-text-center">
                            <small>Año</small>
                            <p>{{ vm.car.year }}</p>
                        </ion-col>
                        <ion-col size="4" class="ion-text-center">
                            <small>Combustible</small>
                            <p>{{ vm.car.fuel }}</p>
                        </ion-col>
                        <ion-col size="4" class="ion-text-center">
                            <small>Traccion</small>
                            <p>{{ vm.car.traction }}</p>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col size="4" class="ion-text-center">
                            <small>CC</small>
                            <p>{{ vm.car.cc }}</p>
                        </ion-col>
                        <ion-col size="4" class="ion-text-center">
                            <small>CV</small>
                            <p>{{ vm.car.cv }}</p>
                        </ion-col>
                        <ion-col size="4" class="ion-text-center">
                            <small>De serie</small>
                            <p>{{ vm.car.stock ? 'Si' : 'No' }}</p>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>

            <ion-card mode="ios">
                <ion-card-content style="padding: 0.5rem">
                    <ion-item mode="ios" color="light" lines="none">
                        <ion-avatar slot="start" class="avatar-border">
                            <img [src]="vm.car.driver.image?.url | image" />
                        </ion-avatar>
                        <p>
                            <ion-label>{{ vm.car.driver.name }}</ion-label>
                            <small>Propietario</small>
                        </p>
                    </ion-item>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>
