<custom-header [options]="vm.header" (clickRightIcon)="share()"></custom-header>

<ion-content
    [fullscreen]="true"
    [scrollEvents]="true"
    class="animate__animated animate__fadeIn animate__faster"
>
    <spinner [loading]="vm.loading"></spinner>
    <ion-row style="padding-top: 0" *ngIf="vm.car">
        <ion-col size="12" sizeLg="8" offsetLg="2">
            <ion-card mode="ios" (click)="openImage(vm.image)" button>
                <div
                    *ngIf="vm.image"
                    class="div-image-one"
                    [ngStyle]="{'background-image': 'url(' + vm.image + ')'}"
                ></div>
            </ion-card>

            <ion-card mode="ios">
                <car-title [car]="vm.car"></car-title>

                <ion-card-content style="padding: 0.5rem">
                    <car-info [car]="vm.car"></car-info>
                    <hr />

                    <car-totals
                        [likes]="vm.car?.likes"
                        [inscriptions]="vm.car?.inscriptions"
                        [votes]="vm.car?.votes"
                        [gold]="vm.car?.gold"
                        [silver]="vm.car?.silver"
                        [bronze]="vm.car?.bronze"
                        (clickItem)="onClickTotalItem($event)"
                    ></car-totals>

                    <car-totals-divs
                        [states]="vm.states"
                        [likes]="vm.likes"
                        [inscriptions]="vm.inscriptions"
                        [votes]="vm.votes"
                    ></car-totals-divs>
                </ion-card-content>
            </ion-card>

            <ion-card
                *ngIf="!vm.isMyCar"
                mode="ios"
                button
                (click)="likeOrDislike()"
            >
                <ion-card-content
                    class="like"
                    *ngIf="!vm.liked || vm.liked && vm.user "
                >
                    <fa-icon [icon]="vm.liked ? 'ban': 'thumbs-up'"></fa-icon>
                    <ion-label>
                        {{ !vm.liked ? 'Me gusta' : 'Ya no me gusta' }}
                    </ion-label>
                    <small *ngIf="!vm.liked">
                        Ayuda a {{ vm.car.driver.name }} a tener mas visibilidad
                    </small>
                    <small *ngIf="vm.liked">
                        Dejaras de ayudar a {{ vm.car.driver.name }} a tener
                        visibilidad
                    </small>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
</ion-content>
