<custom-header [options]="vm.header" (segmentChanged)="segmentChanged($event)"></custom-header>
<ion-content [fullscreen]="true" [scrollEvents]="true">
  <ion-row style="padding-top: 0">
    <ion-col size="12" sizeLg="8" offsetLg="2">
      <custom-header-sub [title]="vm.header.title" [buttons]="true"></custom-header-sub>

      <div class="div-segments">
        <ion-segment *ngIf="vm.rounds.length > 1" mode="ios" [value]="vm.roundSelected" scrollable="true"
          (ionChange)="segmentChanged($event)">
          <ion-segment-button [value]="round._id" *ngFor="let round of vm.rounds">
            <ion-label>{{ round.name }}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </div>

      <div *ngFor="let round of vm.rounds">
        <div *ngIf="vm.roundSelected === round._id">
          <round-info [round]="round"></round-info>
          <round-pairings [pairings]="round.pairings" (clickItem)="goToPairing($event)"></round-pairings>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
