<!-- fechas -->
<swiper mode="ios" [config]="slideOpts">
    <ng-template swiperSlide *ngFor="let date of dates">
        <ion-card
            mode="ios"
            class="date-item selected"
            [ngClass]="{ selected: dateSelected === date }"
            (click)="goToDate(date)"
        >
            <ion-card-content>
                <ion-card-title>
                    <ion-label>
                        <h2>{{ date | dateToDayOrMonth }}</h2>
                        <h3>{{ date | dateToDayOrMonth: 'month' }}</h3>
                    </ion-label>
                </ion-card-title>
            </ion-card-content>
        </ion-card>
    </ng-template>
</swiper>
