<div
  class="animate__animated animate__fadeIn animate__faster padding-05"
  mode="ios"
  style="margin-top: 1.5rem"
>
  <div style="text-align: center; margin-bottom: 1rem">
    <img src="./assets/images/login.svg" style="width: 225px" alt="" />
  </div>
  <br />
  <ion-card mode="ios" class="form-item">
    <ion-item lines="none" color="light">
      <ion-label position="stacked">{{
        'account.inputEmail' | translate
      }}</ion-label>
      <ion-input
        id="email"
        name="email"
        type="email"
        [(ngModel)]="data.email"
        placeholder="{{ 'account.placeholderEmail' | translate }}"
        ngDefaultControl
      >
      </ion-input>
    </ion-item>
  </ion-card>

  <ion-card mode="ios" class="form-item">
    <ion-item lines="none" color="light">
      <ion-label position="stacked">{{
        'account.inputPassword' | translate
      }}</ion-label>
      <ion-input
        id="password"
        name="password"
        type="password"
        [(ngModel)]="data.password"
        placeholder="{{ 'account.placeholderPassword' | translate }}"
        ngDefaultControl
      ></ion-input>
    </ion-item>
  </ion-card>
  <ion-button id="buttonLogin" expand="block" color="primary" (click)="login()">
    {{ 'account.buttonLogin' | translate }}
  </ion-button>
  <ion-button
    id="buttonRegister"
    expand="block"
    color="primary"
    fill="outline"
    (click)="goToRegister.emit()"
  >
    {{ 'account.buttonRegister' | translate }}
  </ion-button>

  <span class="divider line one-line">o</span>

  <ion-button
    id="buttonBack"
    expand="block"
    color="primary"
    (click)="goToSelect.emit()"
  >
    {{ 'generic.back' | translate }}
  </ion-button>
</div>
