<ion-card mode="ios" class="option-item">
  <ion-item detail="false" lines="none" button (click)="clickItem.emit(car)">
    <ion-avatar slot="start">
      <img [src]="car.images | imageCar" />
    </ion-avatar>
    <ion-avatar slot="end">
      <ion-icon name="trophy" style="font-size: 2rem" [ngClass]="type"></ion-icon>
    </ion-avatar>
    <ion-label>
      <h2>
        {{ car.brand.name }} {{ car.model }}<br />
        <small>{{ car.driver.name }}</small>
      </h2>
    </ion-label>
  </ion-item>
</ion-card>
