<ion-card mode="ios">
    <ion-card-content>
        <ng-container *ngIf="vm.normalMode">
            <div style="text-align: center; margin-bottom: 1rem">
                <img src="./assets/images/logo.png" style="width: 200px" />
            </div>
            <ion-button expand="block" color="primary" (click)="loginGoogle()">
                <ion-icon name="logo-google"></ion-icon>&nbsp; {{ 'account.login_google' | translate }}
            </ion-button>
            <span class="divider line one-line">o</span>
            <ion-button
                expand="block"
                color="primary"
                fill="outline"
                (click)="goToLoginMode()"
            >
                <ion-icon name="log-in"></ion-icon>&nbsp; {{ 'account.login_email' | translate }}
            </ion-button>

            <hr style="margin-top: 1.5rem" />

            <div class="link-privacy-policy">
                <a [routerLink]="['/privacy-policy']">
                    {{ 'account.policyPrivacy' | translate }}
                </a>
            </div>
        </ng-container>

        <ng-container *ngIf="vm.loginMode && !vm.normalMode">
            <ion-item>
                <ion-label position="floating">{{ 'account.inputEmail' | translate }}</ion-label>
                <ion-input
                    name="email"
                    type="email"
                    [(ngModel)]="vm.email"
                    placeholder="{{ 'account.placeholderEmail' | translate }}"
                    ngDefaultControl
                >
                </ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">{{ 'account.inputPassword' | translate }}</ion-label>
                <ion-input
                    name="password"
                    type="password"
                    [(ngModel)]="vm.password"
                    placeholder="{{ 'account.placeholderPassword' | translate }}"
                    ngDefaultControl
                ></ion-input>
            </ion-item>
            <hr />
            <ion-button expand="block" color="primary" (click)="login()">
                {{ 'account.buttonLogin' | translate }}
            </ion-button>

            <span class="divider line one-line">o</span>

            <ion-button
                expand="block"
                color="primary"
                fill="outline"
                (click)="vm.loginMode = false"
            >
                {{ 'account.buttonRegister' | translate }}
            </ion-button>
        </ng-container>

        <ng-container *ngIf="!vm.loginMode && !vm.normalMode">
            <ion-item>
                <ion-label position="floating">{{ 'account.inputName' | translate }}</ion-label>
                <ion-input
                    name="name"
                    [(ngModel)]="vm.name"
                    placeholder="{{ 'account.placeholderName' | translate }}"
                    ngDefaultControl
                >
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">{{ 'account.inputEmail' | translate }}</ion-label>
                <ion-input
                    name="email"
                    type="email"
                    [(ngModel)]="vm.email"
                    placeholder="{{ 'account.placeholderEmail' | translate }}"
                    ngDefaultControl
                >
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">{{ 'account.inputPassword' | translate }}</ion-label>
                <ion-input
                    name="password"
                    type="password"
                    [(ngModel)]="vm.password"
                    placeholder="{{ 'account.placeholderPassword' | translate }}"
                    ngDefaultControl
                ></ion-input>
            </ion-item>

            <ion-item>
                <ion-label position="floating">{{ 'account.inputRepeatPassword' | translate }}</ion-label>
                <ion-input
                    name="password2"
                    type="password"
                    [(ngModel)]="vm.password2"
                    placeholder="{{ 'account.placeholderRepeatPassword' | translate }}"
                    ngDefaultControl
                ></ion-input>
            </ion-item>

            <hr />

            <ion-button expand="block" color="primary" (click)="register()">
                {{ 'account.buttonRegister' | translate }}
            </ion-button>
            <ion-button
                expand="block"
                color="primary"
                fill="outline"
                (click)="vm.loginMode = true"
            >
                {{ 'generic.back' | translate }}
            </ion-button>
        </ng-container>
    </ion-card-content>
</ion-card>
