<auth-selection *ngIf="status.normal" (loginGoogleSuccess)="checkGoogleLoginOrRegister($event)"
  (goToLogin)="goToMode('login')"></auth-selection>

<auth-login *ngIf="status.login" (loginSuccess)="loginSuccess()" (goToRegister)="goToMode('register')"
  (goToSelect)="goToMode('normal')"></auth-login>

<auth-register *ngIf="status.register" (registerSuccess)="registerSuccess()" (goToLogin)="goToMode('login')">
</auth-register>

<auth-after-register *ngIf="status.afterRegister" (afterRegisterSuccess)="clickLogin.emit()"></auth-after-register>
