<auth-selection *ngIf="checkStatusItem('normal')" (loginGoogleSuccess)="checkGoogleLoginOrRegister($event)"
  (goToLogin)="goToMode('login')">
</auth-selection>

<auth-login *ngIf="checkStatusItem('login')" (loginSuccess)="loginSuccess()" (goToRegister)="goToMode('register')"
  (goToSelect)="goToMode('normal')">
</auth-login>

<auth-register *ngIf="checkStatusItem('register')" (registerSuccess)="registerSuccess()" (goToLogin)="goToMode('login')">
</auth-register>

<auth-after-register *ngIf="checkStatusItem('afterRegisterUser')" (afterRegisterSuccess)="loggedSuccess.emit()" (goToAfterCar)="goToMode('afterRegisterCar')">
</auth-after-register>

<car-add *ngIf="checkStatusItem('afterRegisterCar')" (carAddSuccess)="loggedSuccess.emit()"></car-add>
