<custom-header
    [options]="vm.header"
    (segmentChanged)="segmentChanged($event)"
></custom-header>

<ion-content [fullscreen]="true" *ngIf="vm.tournament" [scrollEvents]="true">
    <ion-row style="padding-top: 0">
        <ion-col
            style="padding-top: 0; margin-top: -10px"
            size="12"
            sizeLg="8"
            offsetLg="2"
        >
            <div
                *ngIf="vm.header.segments.selected === 0"
                class="animate__animated animate__fadeIn"
            >
                <ion-card
                    mode="ios"
                    *ngIf="vm.image"
                    (click)="openImage(vm.image)"
                >
                    <div
                        class="div-image-one"
                        [ngStyle]="{'background-image': 'url(' + vm.image + ')'}"
                    ></div>
                </ion-card>

                <tournament-info
                    [cols]="vm.cols"
                    [buttonInscription]="vm.buttonInscription"
                    [tournament]="vm.tournament"
                    (inscriptionCarClick)="inscriptionCar()"
                ></tournament-info>

                <winners
                    *ngIf="vm.winners"
                    [winners]="vm.winners"
                    (clickItem)="goToCar($event)"
                ></winners>

                <ion-card
                    mode="ios"
                    *ngIf="vm.tournament.status === 'InProgress' || vm.tournament.status === 'Completed'"
                >
                    <ion-item
                        color="light"
                        mode="ios"
                        [button]="true"
                        lines="none"
                        (click)="goToRounds()"
                    >
                        <ion-label>
                            <h2>Rondas</h2>
                            <small class="min-text-weight"
                                >Accede a las rondas del torneo</small
                            >
                        </ion-label>
                    </ion-item>
                </ion-card>

                <tournament-my-inscriptions
                    *ngIf="vm.tournament.status === 'InProgress' || vm.tournament.status === 'Todo'"
                    [myCars]="vm.myCars"
                    (confirmDeleteInscriptionClick)="confirmDeleteInscription($event)"
                >
                </tournament-my-inscriptions>
            </div>

            <div
                *ngIf="vm.header.segments.selected === 1"
                class="animate__animated animate__fadeIn"
                style="padding-top: 0.75rem"
            >
                <car-item
                    *ngFor="let inscription of vm.inscriptions"
                    [car]="inscription?.car"
                    (clickItem)="onClickCar($event)"
                ></car-item>
            </div>
            <div
                *ngIf="vm.header.segments.selected === 2"
                class="animate__animated animate__fadeIn"
            >
                <rounds [tournamentId]="vm.tournament._id"></rounds>
            </div>
        </ion-col>
    </ion-row>
</ion-content>
