<custom-header
    [options]="vm.header"
    (segmentChanged)="segmentChanged($event)"
></custom-header>

<ion-content [fullscreen]="true" *ngIf="vm.tournament" [scrollEvents]="true">
    <ion-row style="padding-top: 0">
        <ion-col
            style="padding-top: 0; margin-top: -10px"
            size="12"
            sizeLg="8"
            offsetLg="2"
        >
            <div
                *ngIf="vm.header.segments.selected === 0"
                class="animate__animated animate__fadeIn"
            >
                <ion-card mode="ios" *ngIf="vm.image">
                    <div
                        class="div-image-one"
                        [ngStyle]="{'background-image': 'url(' + vm.image + ')'}"
                    ></div>
                </ion-card>

                <ion-card mode="ios" style="margin-top: -10px">
                    <ion-card-title
                        class="ion-text-center"
                        style="padding-top: 1rem"
                    >
                        {{ vm.tournament?.name }}
                    </ion-card-title>
                    <hr />
                    <ion-card-content
                        style="padding: 0.5rem; padding-bottom: 0.5rem"
                    >
                        <ion-row>
                            <ion-col [size]="vm.cols" class="ion-text-center">
                                <small>Inicio</small>
                                <p>
                                    {{ vm.tournament.startDate |
                                    dateToTimeAgo:true | fistLetterCase }}
                                </p>
                            </ion-col>
                            <ion-col
                                *ngIf="vm.tournament.endDate"
                                [size]="vm.cols"
                                class="ion-text-center"
                            >
                                <small>Fin</small>
                                <p>
                                    {{ vm.tournament.endDate |
                                    dateToTimeAgo:true | fistLetterCase }}
                                </p>
                            </ion-col>
                            <ion-col
                                *ngIf="!vm.tournament.endDate"
                                [size]="vm.cols"
                                class="ion-text-center"
                            >
                                <small>Duracion</small>
                                <p>{{ vm.tournament.durationDays }} dias</p>
                            </ion-col>
                            <ion-col [size]="vm.cols" class="ion-text-center">
                                <small>Participantes</small>
                                <p>
                                    <span
                                        [countUp]=" vm.tournament?.inscriptions.length"
                                        [duration]="1500"
                                    ></span
                                    >/<span
                                        [countUp]=" vm.tournament.maxParticipants"
                                        [duration]="1500"
                                    ></span>
                                </p>
                            </ion-col>
                            <ion-col
                                *ngIf="vm.tournament.status !== 'Todo'"
                                [size]="vm.cols"
                                class="ion-text-center"
                            >
                                <small>Votos</small>
                                <p>
                                    <span
                                        [countUp]=" vm.tournament?.votes.length"
                                        [duration]="1500"
                                    ></span>
                                </p>
                            </ion-col>
                        </ion-row>

                        <ng-container
                            *ngIf="vm.tournament.info && vm.tournament.info !== ''"
                        >
                            <hr />
                            <p
                                style="padding-top: 1rem"
                                class="ion-text-center"
                                [ngStyle]="{'padding-bottom': vm.buttonInscription ? '0px' : '10px'} "
                            >
                                {{ vm.tournament.info }}
                            </p>
                        </ng-container>

                        <ng-container
                            *ngIf="vm.tournament.requisites?.length > 0"
                        >
                            <div [ngClass]="{'mb-20': vm.buttonInscription }">
                                <hr />
                                <ion-accordion-group>
                                    <ion-accordion value="colors">
                                        <ion-item slot="header">
                                            <p class="requirement-title">
                                                Requisitos de inscripcion
                                            </p>
                                        </ion-item>

                                        <ion-list slot="content">
                                            <ion-item
                                                *ngFor="let item of vm.tournament.requisites"
                                                lines="none"
                                            >
                                                <ion-icon
                                                    slot="start"
                                                    class="requirement-item-icon"
                                                    name="checkmark-circle"
                                                ></ion-icon>
                                                <p>{{ item.name }}</p>
                                            </ion-item>
                                        </ion-list>
                                    </ion-accordion>
                                </ion-accordion-group>
                            </div>
                        </ng-container>
                    </ion-card-content>

                    <ng-container *ngIf="vm.buttonInscription">
                        <hr />
                        <ion-button
                            class="ion-margin"
                            expand="block"
                            (click)="inscriptionCar()"
                            >Inscribirse
                        </ion-button>
                    </ng-container>
                </ion-card>

                <ion-card
                    mode="ios"
                    *ngIf="vm.tournament.status === 'InProgress' || vm.tournament.status === 'Completed'"
                >
                    <ion-item
                        color="light"
                        mode="ios"
                        [button]="true"
                        lines="none"
                        (click)="goToRounds()"
                    >
                        <ion-label>
                            <h2>Rondas</h2>
                            <small class="min-text-weight"
                                >Accede a las rondas del torneo</small
                            >
                        </ion-label>
                    </ion-item>
                </ion-card>

                <ion-card mode="ios" *ngIf="vm.myCars?.inscribed.length > 0">
                    <ion-card-title
                        class="ion-text-center"
                        style="padding-top: 1rem; font-size: 18px"
                    >
                        {{vm.myCars?.inscribed.length > 1 ? 'Tus coches
                        inscritos' : 'Tu coche inscrito'}}
                    </ion-card-title>
                    <hr />
                    <ion-card-content style="padding: 0 0.5rem 0.5rem 0.5rem">
                        <ion-list>
                            <ion-item
                                color="light"
                                style="margin: 0.5rem"
                                class="option-item"
                                [button]="true"
                                lines="none"
                                detail="false"
                                *ngFor="let car of vm.myCars?.inscribed"
                                (click)="confirmDeleteInscription(car)"
                            >
                                <ion-avatar slot="start" class="avatar-border">
                                    <img [src]="car.image?.url | image" />
                                </ion-avatar>
                                <ion-label style="font-size: 0.9rem"
                                    >{{ car.brand.name }} {{ car.model
                                    }}</ion-label
                                >
                                <ion-icon
                                    style="font-size: 1.2rem"
                                    slot="end"
                                    name="close"
                                ></ion-icon>
                            </ion-item>
                        </ion-list>
                    </ion-card-content>
                </ion-card>
            </div>

            <div
                *ngIf="vm.header.segments.selected === 1"
                class="animate__animated animate__fadeIn"
                style="padding-top: 0.75rem"
            >
                <car-item
                    *ngFor="let inscription of vm.inscriptions"
                    [car]="inscription?.car"
                    (clickItem)="onClickCar($event)"
                ></car-item>
            </div>
            <div
                *ngIf="vm.header.segments.selected === 2"
                class="animate__animated animate__fadeIn"
            >
                <rounds [tournamentId]="vm.tournament._id"></rounds>
            </div>
        </ion-col>
    </ion-row>
</ion-content>
