<ng-container *ngIf="items && items.length > 0">
    <ion-card mode="ios">
        <ion-item
            (click)="state = !state"
            button
            (click)="showOrHide.emit(type)"
            detail="false"
            [lines]="!state ? 'none' : 'full'"
        >
            <ion-label
                >{{ title }} <small>({{ items.length }})</small></ion-label
            >
            <ion-icon
                slot="end"
                [name]="state ? 'chevron-up' : 'chevron-down'"
            ></ion-icon>
        </ion-item>
    </ion-card>

    <ng-container *ngIf="state">
        <my-inscriptions-item
            *ngFor="let item of items"
            [item]="item"
            (openOptions)="openOptions.emit($event)"
        >
        </my-inscriptions-item>
    </ng-container>
</ng-container>
