/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import '~animate.css/animate.min.css';
@import 'swiper/css/bundle';

ion-segment {
    margin-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

ion-segment-button {
    --border-radius: 10px;
    --color: var(--ion-color-medium);
    --color-checked: var(--ion-color-dark);
    --indicator-transform: translate3d(0, 0px, 0);
    --background: #000;
    --background-checked: var(--ion-color-light);
    --indicator-color: none;
    --indicator-height: 2px;
    border: 0px;
    font-size: 0.7rem;
    font-weight: 500;
    text-transform: capitalize;
    min-height: 10px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    height: 23px;
}

.ripple-parent {
    position: relative;
    overflow: hidden;
}

.div-image-one {
    height: 200px;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
}

.wrapper-option-items {
    margin-top: 1rem;
}

.option-item {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    background: var(--ion-color-light);
    border-radius: 10px;
    margin-bottom: 1rem;
    font-size: 16px;
    padding: 0.05rem;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

ion-card {
    margin: 0.5rem;
    background: var(--ion-color-light);
}

ion-item {
    background: var(--ion-color-light);
}

hr {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.item-block-resume {
    small {
        font-weight: 900;
    }
}

.ion-activatable {
    cursor: pointer;
}

.popover-garage {
    padding: 0;
    border-radius: 10px;
    border: 0;

    &::part(content) {
        --background: var(--ion-color-primary);
    }

    &::part(arrow) {
        --background: var(--ion-color-primary);
    }
}

.modal-pairing {
    --width: 80%;
    --max-height: 190px;
    --border-radius: 10px;
}

.custom-chip {
    span {
        border-radius: 20px;
        color: #fff;
        padding-top: 0.25rem;
        padding-bottom: 0.35rem;
        padding-left: 1rem;
        padding-right: 1rem;
        margin: 0;
        font-size: 0.7rem;
        font-weight: 900;
        text-transform: uppercase;
    }
}

.custom-chip-primary {
    span {
        background: var(--ion-color-primary) !important;
    }
}

.custom-chip-dark {
    span {
        background: var(--ion-color-dark) !important;
    }
}

.transparent-modal {
    --background: rgba(44, 39, 45, 0.2);

    &::part(content) {
        backdrop-filter: blur(12px);
    }
}

.alert-custom {
    --background: var(--ion-color-primary);
    --border-radius: 10px;

    .alert-wrapper {
        --border-color: #000;
    }

    .alert-title,
    .alert-message,
    .alert-button {
        color: #fff;
    }

    .alert-message {
        font-size: 0.8rem;
        font-weight: 500;
        padding-bottom: 0.5rem;
    }

    .alert-button-group {
        padding: 1rem;
    }

    .alert-button {
        background: #000;
        color: #fff;
        padding: 1rem;
        border-radius: 10px;
        margin: -0.5rem;
    }
}

.alert-custom-md {
    --background: var(--ion-color-primary);

    .alert-wrapper {
        --border-color: #000;
        border-radius: 10px;
    }

    .alert-title,
    .alert-message,
    .alert-button {
        color: #fff;
        text-align: center;
    }

    .alert-message {
        font-size: 0.8rem;
        font-weight: 500;
        padding-bottom: 0.5rem;
    }

    .alert-button-group {
        padding: 0.5rem;
    }

    .alert-button {
        background: #000 !important;
        color: #fff;
        border-radius: 10px;
        margin: 1rem;
    }
}

.alert-custom-with-buttons {
    --background: var(--ion-color-primary);
    --border-radius: 10px;

    .alert-wrapper {
        --border-color: #000;
    }

    .alert-title,
    .alert-message,
    .alert-button {
        color: #fff;
    }

    .alert-message {
        font-size: 0.8rem;
        font-weight: 500;
        padding-bottom: 0.5rem;
    }

    .alert-button-group {
        padding: 0.5rem 1.5rem;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-wrap: unset;
    }

    .alert-button {
        background: #000 !important;
        color: #fff;
        padding: 1rem;
        border-radius: 10px;
        margin: 0.5rem;
    }

    .alert-button:active {
        color: var(--ion-color-medium);
    }
}

.pointer {
    cursor: pointer;
}

.gold {
    color: #ffd700;
}
.silver {
    color: #c0c0c0;
}
.bronze {
    color: #cd7f32;
}

.banner-can-you-help {
    background: var(--ion-color-dark);
    padding: 0.5rem;
    text-align: center;

    @media screen and (max-width: 368px) {
        ion-img {
            display: none;
        }
    }

    ion-card-title {
        color: #fff;
        font-size: 1.2rem;
        font-weight: 900;
        text-transform: uppercase;
    }

    @media screen and (max-width: 368px) {
        .text {
            flex: auto;
        }
    }

    ion-label {
        color: #fff;
        font-size: 1rem;
        font-weight: 400;
        padding-bottom: 0.5rem;
    }
}
