<ion-card mode="ios">
  <ion-card-title class="title ion-text-center">
    {{ tournament?.name }}

    <ng-container>
      <div class="custom-chip custom-chip-primary">
        <span *ngIf="tournament.status === 'Completed'">
          {{ 'generic.completed' | translate }}</span>
        <span *ngIf="tournament.status === 'InProgress'">
          {{ tournament.rounds | lastRound }}
        </span>

        <span *ngIf="
                        tournament.status === 'Todo' &&
                        tournament.inscriptions.length ===
                            tournament.maxParticipants
                    ">
          {{ 'tournament.inscriptionsCompleted' | translate }}
        </span>
      </div>
    </ng-container>
    <hr *ngIf="inscriptions && inscriptions.length > 0" />

    <div class="images-inscriptions">
      <ng-container *ngIf="inscriptions.length < 8">
        <ion-card *ngFor="let inscription of inscriptions" button class="image-inscription"
          [routerLink]="['/car', inscription.car._id]">
          <div class="image-inscription-div" style="background-image: url({{
                            inscription.car?.image?.url | image
                        }})"></div>
        </ion-card>
      </ng-container>

      <swiper [config]="slideOpts" *ngIf="inscriptions.length >= 8">
        <ng-template swiperSlide *ngFor="let inscription of inscriptions">
          <ion-card button class="image-inscription" [routerLink]="['/car', inscription.car._id]">
            <div class="image-inscription-div" style="background-image:url({{
                                inscription.car?.image?.url | image
                            }})"></div>
          </ion-card>
        </ng-template>
      </swiper>
    </div>
  </ion-card-title>
  <hr />
  <ion-card-content style="padding: 0.5rem; padding-bottom: 0.5rem">
    <ng-container *ngIf="tournament.status === 'InProgress' || tournament.status === 'Completed'">
      <ion-row>
        <ion-col [size]="cols" class="ion-text-center border-right">
          <p class="tournament-info-value">
            {{
            tournament.startDate
            | momentDateShort
            }}
          </p>
          <small class="car-info-key">{{ 'tournament.infoStart' | translate }}</small>
        </ion-col>

        <ion-col *ngIf="tournament.endDate" [size]="cols" class="ion-text-center border-right">
          <p class="tournament-info-value">
            {{
            tournament.endDate
            | momentDateShort
            }}
          </p>
          <small class="car-info-key">{{ 'tournament.infoEnd' | translate }}</small>
        </ion-col>

        <ion-col [size]="cols" class="ion-text-center">
          <p class="tournament-info-value">{{ tournament.durationDays }} dias</p>
          <small class="car-info-key">{{ 'tournament.infoDuration' | translate }}</small>
        </ion-col>
      </ion-row>
      <hr style="margin:0.5rem">
      <ion-row>

        <ion-col [size]="cols" class="ion-text-center border-right">
          <p class="tournament-info-value">
            <span [countUp]="tournament?.inscriptions.length" [duration]="1500"></span>/<span
              [countUp]="tournament.maxParticipants" [duration]="1500"></span>
          </p>
          <small class="car-info-key">{{ 'tournament.infoParticipants' | translate }}</small>
        </ion-col>

        <ion-col *ngIf="tournament.rounds && tournament.rounds.length > 0" [size]="cols"
          class="ion-text-center border-right">
          <p class="tournament-info-value">
            <span [countUp]="tournament.rounds.length" [duration]="1500"></span>
          </p>
          <small class="car-info-key">{{ 'tournament.infoRounds' | translate }}</small>
        </ion-col>

        <ion-col [size]="cols" class="ion-text-center">
          <p class="tournament-info-value">
            <span [countUp]="tournament?.votes.length" [duration]="1500"></span>
          </p>
          <small class="car-info-key">{{ 'tournament.infoVotes' | translate }}</small>
        </ion-col>
      </ion-row>
    </ng-container>

    <ng-container *ngIf="tournament.status === 'Todo'">
      <ion-row>
        <ion-col [size]="cols" class="ion-text-center border-right">
          <p class="tournament-info-value">
            {{
            tournament.startDate
            | momentDateShort
            }}
          </p>
          <small class="car-info-key">{{ 'tournament.infoStart' | translate }}</small>
        </ion-col>

        <ion-col [size]="cols" class="ion-text-center border-right">
          <p class="tournament-info-value">{{ tournament.durationDays }} dias</p>
          <small class="car-info-key">{{ 'tournament.infoDuration' | translate }}</small>
        </ion-col>

        <ion-col [size]="cols" class="ion-text-center">
          <p class="tournament-info-value">
            <span [countUp]="tournament?.inscriptions.length" [duration]="1500"></span>/<span
              [countUp]="tournament.maxParticipants" [duration]="1500"></span>
          </p>
          <small class="car-info-key">{{ 'tournament.infoParticipants' | translate }}</small>
        </ion-col>
      </ion-row>
    </ng-container>

    <ng-container *ngIf="tournament.info && tournament.info !== ''">
      <hr />
      <p style="padding-top: 1rem" class="ion-text-center" [ngStyle]="{
                    'padding-bottom': buttonInscription ? '0px' : '10px'
                }">
        {{ tournament.info }}
      </p>
    </ng-container>

    <tournament-requisites [buttonInscription]="buttonInscription" [tournament]="tournament">
    </tournament-requisites>
  </ion-card-content>

  <ng-container *ngIf="buttonInscription">
    <hr />
    <ion-button class="ion-margin" expand="block" (click)="inscriptionCarClick.emit()">Inscribirse
    </ion-button>
  </ng-container>
</ion-card>
