.wrapper-item {
    display: flex;
    padding: 0.5rem 0;
}

.image {
    width: 35px;
    height: 35px;
    border-radius: 100%;
    margin-right: 1rem;
}

.position {
    font-size: 1.8rem;
    margin-right: 1rem;
    color: rgba(0, 0, 0, 0.4);
}

.driver {
    color: #00000080;
    display: block;
}

.option-item {
    margin-bottom: 0.5rem !important;
}
