.card-tournament {
    margin: 0.5rem;
}

.avatar-tournament {
    margin-right: 1rem;
    width: 40px;
    height: 40px;
}

.title-tournament {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}

.title-round {
    font-size: 0.8rem;
    font-weight: 700;
    color: var(--ion-color-primary);
    margin-right: 0.5rem;
    text-transform: uppercase;
}

.title-dates {
    font-size: 0.8rem;
    font-weight: 400;
    color: var(--ion-color-dark);
    margin-right: 0.5rem;
    text-transform: uppercase;
}
