<custom-header [options]="vm.header" (clickRightIcon)="share()"></custom-header>

<ion-content [fullscreen]="true" [scrollEvents]="true">
  <spinner [loading]="vm.loading.getOne"></spinner>
  <ion-row style="padding-top: 0; padding-bottom: 0.5rem" *ngIf="vm.tournament">
    <ion-col size="12" sizeLg="8" offsetLg="2">
      <custom-header-sub
        [title]="vm.header.title"
        [buttons]="true"
      ></custom-header-sub>

      <div class="animate__animated animate__fadeIn animate__faster">
        <ion-card
          mode="ios"
          *ngIf="vm.image"
          (click)="openImage(vm.image)"
          button
        >
          <div
            class="div-image-one"
            [ngStyle]="{'background-image': 'url(' + vm.image + ')'}"
          ></div>
        </ion-card>

        <tournament-info *ngIf="vm.inscriptions" [tournament]="vm.tournament">
        </tournament-info>

        <tournament-requisites
          [buttonInscription]="vm.buttonInscription"
          [tournament]="vm.tournament"
        >
        </tournament-requisites>

        <tournament-winners
          *ngIf="vm.winners"
          [winners]="vm.winners"
          (clickItem)="goToCar($event)"
        >
        </tournament-winners>

        <tournament-my-cars
          [completeInscriptions]="vm.tournament.maxParticipants === vm.tournament.inscriptions.length"
          [statusTournament]="vm.tournament.status"
          [myCars]="vm.myCars"
          (inscriptionClick)="inscriptionConfirmation($event)"
          (deleteInscriptionClick)="confirmDeleteInscription($event)"
        >
        </tournament-my-cars>

        <tournament-options
          [tournament]="vm.tournament"
          (clickOption)="onClickOption($event)"
        ></tournament-options>
      </div>
    </ion-col>
  </ion-row>
</ion-content>
